html {
    scroll-behavior: smooth;
}
:root {
    /* fonts */
    --head: 'Domine', serif;
    --body: 'Roboto', sans-serif;
    /* colors */
    --Maya: #A17F5E;
    --lighter: #7E9AB4;
    --darker: #5e80a1;
    /* shadows */
    --button-shadow: .5vmin .75vmin rgba(0,0,0,.25);
    --text-shadow: .125vmin .25vmin rgba(0,0,0,.25);
}
::selection {
    background: var(--darker);
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*background: url("./images/wis-background-darkened.jpg");*/
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
    .parent-container-desktop {
        display: flex;
        width: 100vmax;;
        flex-direction: column;
        align-items: center;
        background: url("./images/wis-background-darkened.jpg");    
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
        .upper-container-desktop {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            position: fixed;
            width: 80vmax;
            height: 15vmin;
            /*border: 1px solid green;    /* debug */
        }
            .wis-banner-container {
                background: white;
                padding-top: 12.5vmin;
                margin-top: 2.5vmin;
                border-radius: 5vmin;
                box-shadow: .5vmin 1.25vmin rgba(0,0,0,.25);
                transition: .4s;
                
            }                
                .wis-banner-container:hover {
                    box-shadow: .75vmin .125vmax .75vmax var(--Maya);
                    transition: .4s;
                }
                .wis-banner-image {
                    max-width: 12.5vmin;
                    border-radius: 5vmin;
                }
            .nav-links-container {
                display: flex;
                justify-content: space-around;
                max-width: 15.625vmax;
                animation-name: nav-links-appear;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }
                @keyframes nav-links-appear {
                    0% {margin-right: -25vmax;};
                }
                .nav-link {
                    text-decoration: none;
                    padding: 1.5vmin 1.75vmax;
                    margin-left: 1.75vmax;
                    font-size: 1.25vmax;
                    font-family: var(--head);
                    font-weight: bold;
                    color: white;
                    background: var(--Maya);
                    box-shadow: var(--button-shadow);
                    border-radius: 1.5vmax;
                    transition: .4s;
                }
                    .nav-link:hover {
                        background: white;
                        color: var(--Maya);
                        transition: .4s;
                    }
        .mid-container-desktop {
            display: flex;
            flex-direction: column;
            width: 100vmax;
            align-items: center;
            justify-content: center;
            /*border: 1px solid red; /* debug */
        }
            .caligraphy {
                color: white;
                font-family: 'Kaushan Script', sans-serif;
                font-size: 7.5vmax;
                text-shadow: .425vmin .525vmax .75vmin var(--darker);
                animation-name: caligraphy-appear;
                animation-duration: 4s;
                animation-fill-mode: forwards;
            }
                @keyframes caligraphy-appear {
                    0% {opacity: 0; margin-left: -50vmin};
                }
            .frontpage-subhead {
                font-family: 'Roboto', sans-serif;
                font-size: 1.25vmax;
                text-shadow: var(--text-shadow);
                text-align: center;
                line-height: 1.6;
                color: white;
                max-width: 27.5vmax;
            }
            .learn-more-button {
                text-decoration: none;
                padding: 1.5vmin 1.75vmax;
                margin: 2.5vmax;
                font-size: 1.25vmax;
                font-family: var(--head);
                font-weight: bold;
                color: white;
                background: var(--lighter);
                box-shadow: var(--button-shadow);
                border-radius: 1.25vmax;
                transition: .4s;
            }
                .learn-more-button:hover {
                    color: var(--lighter);
                    background: white;
                }
            .post-container {
                display: flex;
                width: 100vmax;
                height: 100vmin; /* debug */
                background: rgb(245,245,245);
            }




        /* arrow */
            .arrow{
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translate(-50%,-50%);
                margin-left: 2.5vmax;
              }
              .arrow span{
                display: block;
                width: 2.25vmax;
                height: 2.25vmax;
                border-bottom: .5vmax solid var(--Maya);
                border-right: .5vmax solid var(--Maya);
                transform: rotate(45deg);

                animation: animate 1.7s infinite;
              }
              .arrow span:nth-child(2){
                animation-delay: -0.3s;
                width: 2vmax;
                height: 2vmax;
                border-bottom: .425vmax solid var(--Maya);
                border-right: .425vmax solid var(--Maya);
              }
              .arrow span:nth-child(3){
                animation-delay: -0.4s;
                width: 1.72vmax;
                height: 1.75vmax;
                border-bottom: .325vmax solid var(--Maya);
                border-right: .325vmax solid var(--Maya);
              }
              @keyframes animate {
                0%{
                    opacity: 0;
                    transform: rotate(45deg) translate(-.5vmax,-.5vmax);
                }
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                    transform: rotate(45deg) translate(.25vmax, .25vmax);
                }
              }
