html {
  scroll-behavior: smooth;
}
:root {
  /* fonts */
  --head: 'Domine', serif;
  --body: 'Roboto', sans-serif;
  --subhead: 'Work Sans', sans-serif;
  /* colors */
  --Maya: #3B4259;
  --lighter: #D5DFF2;
  --darker: #939EBF;
  /* shadows */
  --button-shadow: .5vmin .375vmin rgba(38,33,36,0.5);
  --text-shadow: .125vmin .15vmin rgba(38,33,36,0.5);
}
::selection {
  background: var(--darker);
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* animations */
@keyframes nav-appear {
    0% {margin-left: -25vmin;}
    100% {margin-left: 13.33vmin;}
}
@keyframes slide-left {
    0% {margin-right: -25vmax;}
}
@keyframes slide-right {
    0% {margin-left: -25vmax;}
}
@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
    .parent-container-desktop {
        display: none;  /* cancel out desktop markup */
    }
    .parent-container-tablet {
        display: none; /* cancel out tablet markup */
    }
    .parent-container-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url("./images/wis-background-darkened.jpg");    
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /*border: 1px solid green; /* debug */
        min-height: 100vmax; /* debug */
        width: 100vw; /* debug */
    }
        .upper-container-mobile {
            display: block;
            width: 100vmin;
            height: 40vmin;
            /*border: 1px solid red; /* debug */
        }
          #nav-overlay {
            display: none;
            width: 0vmin;
            position: absolute;
            top: 0;
            z-index: 5;
          }
          .close-nav-container {
            display: flex;
            margin-top: 18.6vmin;
            max-width: 20vmin;
            max-height: 20vmin;
            position: absolute;
            top: 0;
            z-index: 0;
            animation-name: nav-appear;
            animation-duration: .6s;
            animation-fill-mode: forwards;
          }
            .close-nav-button {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background: var(--Maya);
              border-radius: 100%;
              box-shadow: var(--button-shadow);
              min-width: 20vmin;
              min-height: 20vmin;
              position: fixed;
            }
              .x {
                display: flex;
                transform: rotate(45deg);
                justify-content: center;
                align-items: center;
                font-family: sans-serif;
                font-weight: 400;
                color: white;
                font-size: 64px;
                line-height: 0px;
              }
              .nav-links-container-mobile {
                position: fixed;
                top: 25.86vmax;      
              }
                .nav-link-mobile {
                  display: flex;
                  align-items: center;
                  color: white;
                  position: static;
                  font-family: var(--head);
                  font-weight: 800;
                  text-decoration: none;
                  padding-left: 12.5vmax;
                  padding-top: 1.75vmax;
                  padding-bottom: 1.75vmax;
                  padding-right: 2.8vmax;
                  font-size: 2.75vmax;
                  margin-left: -10vmax;
                  margin-bottom: 4.25vmax;
                  background: var(--Maya);
                  box-shadow: var(--button-shadow);
                  border-radius: 0 25px 25px 0;
                }
                .nav-link-mobile:hover {
                  background: white;
                  color: var(--Maya);
                }
                .nav-icon-mobile {
                  max-width: 2.75vmax;
                  max-height: 2.75vmax;
                  margin-right: 1.75vmax;
                }
                .open-nav-container {
                    display: flex;
                    margin-left: 13.33vmin;
                    margin-top: 18.6vmin;
                    max-width: 20vmin;
                    max-height: 20vmin;
                    position: fixed;
                    top: 0;
                    z-index: 1;
                    animation-name: nav-appear;
                    animation-duration: 2s;
                    animation-fill-mode: fowards;
                  }
                    .open-nav-button {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      background: var(--Maya);
                      border-radius: 100%;
                      box-shadow: var(--button-shadow);
                      min-width: 20vmin;
                      min-height: 20vmin;
                    }
                    /*.open-nav-button:hover {
                      background: white;
                    }*/
                      .burger-top, .burger-mid, .burger-bottom {
                        min-width: 35px;
                        min-height: 5px;
                        width: 35px;
                        height: 5px;
                        margin-left: 20px;
                        margin-right: 20px;
                        background: white;
                        border-radius: 5px;
                      }
                        .burger-top {
                          margin-top: 23px;
                        }
                        .burger-bottom {
                          margin-bottom: 23px;
                        }
                        .burger-mid, .burger-bottom {
                          margin-top: 7px;
                        }
        .mid-container-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .banner-logo-mobile-container {
                animation-name: slide-right;
                animation-duration: 3s;
                animation-play-state: forwards;
            }
                .mobile-front-page-banner-image {
                  border-radius: 100%;
                  max-width: 80vmin;
                }
                .mobile-frontpage-head {
                    font-family: var(--head), serif;
                    font-size: 2.75vmax;
                    text-shadow: var(--text-shadow);
                    text-align: center;
                    line-height: 1.6;
                    color: #555555;
                    max-width: 27.5vmax;
                    margin: 3.25vmax 0;
                    border-bottom: 0.125vmin solid var(--darker);
                }                                
                .mobile-frontpage-subhead {
                    font-family: 'Roboto', sans-serif;
                    font-size: 2.25vmax;
                    /*text-shadow: var(--text-shadow);*/
                    /*text-align: center;*/
                    line-height: 1.6;
                    color: #333333;
                    max-width: 40vmax;         
                    background: rgba(250,250,250,.975); 
                    padding: 2.5vmax;
                    border-radius: 3.25vmax;
                    animation-name: slide-left;
                    animation-duration: 2s;
                    animation-play-state: forwards;
                    box-shadow: .75vmax .75vmax .25vmax rgba(102,102,102,.5);
                }
                .learn-more-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    padding: 3.25vmin 2.5vmax;
                    font-size: 2.25vmax;
                    font-family: var(--head);
                    font-weight: bold;
                    color: white;
                    background: var(--Maya);
                    box-shadow: var(--button-shadow);
                    text-shadow: var(--text-shadow);
                    border-radius: 2.5vmax;
                    transition: .4s;
                    max-width: 20vmax;                                       
                }
                    .learn-more-button:hover {
                        color: var(--darker);
                        background: white;
                    }






/* arrow */
      .arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(-50%,-50%);
        transform: rotateZ(270deg);
        animation-name: arrows-attention-grab;
        animation-duration: 4s;
        animation-play-state: forwards;
      }
        @keyframes arrows-attention-grab {
          0% {margin-left: 10vmax;}
        }
      .arrow span{
        display: block;
        width: 2vmax;
        height: 2vmax;
        border-bottom: .5vmax solid var(--lighter);
        border-right: .5vmax solid var(--lighter);
        transform: rotate(45deg);
        animation: animate 2s infinite;
      }
      .arrow span:nth-child(1){
        animation-delay: 0.5s;
        width: 1.75vmax;
        height: 1.75vmax;
        border-bottom: .425vmax solid var(--lighter);
        border-right: .425vmax solid var(--lighter);
      }
      .arrow span:nth-child(2){
        animation-delay: 0.75s;
        width: 1.5vmax;
        height: 1.5vmax;
        border-bottom: .4vmax solid var(--lighter);
        border-right: .4vmax solid var(--lighter);
      }
      .arrow span:nth-child(3){
        animation-delay: 1s;
        width: 1.75vmax;
        height: 1.75vmax;
        border-bottom: .425vmax solid var(--lighter);
        border-right: .425vmax solid var(--lighter);
      }
      @keyframes animate {
        0%{
            opacity: 0;
            transform: rotate(45deg) translate(-.5vmax,-.5vmax);
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            transform: rotate(45deg) translate(.25vmax, .25vmax);
        }
      } 

  

    /* articles.html */
    .article-container-mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8.75vh 8.75vw;
      border-radius: 5.25vmax;
      background: #fcfcfc;
      width: 100vw;
      box-shadow: .75vmax .75vmax var(--darker);
    }
      .article-header-container-mobile {
        display: flex;
        flex-direction: column;
        max-width: 82.5vw;
        margin-bottom: 3.75vmax;
      }
        .article-header-mobile {
          color: var(--Maya);
          font-family: var(--head);
          font-size: 28px;
          font-weight: 800;
          line-height: 1.4;
          padding-bottom: 1.25vmax;
          border-bottom: var(--darker) solid .75vmin;
        }
        .article-date-mobile {
          display: flex;
          justify-content: center;
          padding: .5vmax 1vmax;
          width: 35%;
          font-family: var(--subhead);
          font-size: 14px;
          color: white;
          background: var(--darker);
          border-radius: 0 0 1.25vmax 1.25vmax;          
        }
      .article-contents-mobile {
        display: flex;
        flex-direction: column;
      }
        .article-content-text-mobile {
          font-family: var(--body);
          color: #333333;
          font-size: 14px;
          line-height: 1.6;        
        }
        .article-image-container-mobile {
          display: flex;
          flex-direction: column;
          margin-top: 3.25vmax;
          margin-bottom: 3.25vmax;
          margin-left: -8.75vw;
          width: 100vw;
          /*border: 1px solid red; /* debug */
        }
          .article-image-mobile {
            width: 100vw;
          }
          .article-image-caption-mobile {
            margin-left: 8.75vw;
            color: #666666;
            font-size: 11px;
            margin-top: 1.25vmax;
            font-family: var(--subhead);
            font-style: italic;
          }
      .article-comments-container-mobile {
        /*border: 1px solid red; /* debug */
        border-top: .75vmin solid var(--darker);
        padding-top: 2.5vmax;
        margin-top: 5vmax;
      }

  .article-selection-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border-radius: 5.25vmax;
    width: 100vw;
  }


        /* article news card */

      .post-module {            
          position: relative;
          z-index: 1;
          display: block;
          background: #FFFFFF;
          min-width: 90vw;
          height: 420px;
          border-radius: 2.5vmax;
          -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
          -webkit-transition: all 0.3s linear 0s;
          -moz-transition: all 0.3s linear 0s;
          -ms-transition: all 0.3s linear 0s;
          -o-transition: all 0.3s linear 0s;
          transition: all 0.3s linear 0s;
          box-shadow: .75vmax .75vmax .75vmax rgba(51,51,51,0.375);
        }
        .post-module:hover,
        .hover {
          -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        }
        .post-module:hover .thumbnail img,
        .hover .thumbnail img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          transform: scale(1.1);
          opacity: 0.6;
        }
        .post-module .thumbnail {
          background: #000000;
          height: 400px;
          overflow: hidden;
          border-radius: 2.5vmax;
        }
        .post-module .thumbnail .date {
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 1;
          background: var(--Maya);
          width: 55px;
          height: 55px;
          padding: 12.5px 0;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          color: #FFFFFF;
          font-weight: 700;
          text-align: center;
          -webkti-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
        .post-module .thumbnail .date .day {
          font-size: 18px;
          font-family: var(--head); /* maya code */
        }
        .post-module .thumbnail .date .month {
          font-size: 12px;
          text-transform: uppercase;
          font-family: var(--body); /* maya code*/
        }
        .post-module .thumbnail img {
          display: block;
          width: 120%;
          -webkit-transition: all 0.3s linear 0s;
          -moz-transition: all 0.3s linear 0s;
          -ms-transition: all 0.3s linear 0s;
          -o-transition: all 0.3s linear 0s;
          transition: all 0.3s linear 0s;
        }
        .post-module .post-content {
          position: absolute;
          bottom: 0;
          background: #FFFFFF;
          width: 100%;
          padding: 30px;
          border-radius: 0 0 2.5vmax 2.5vmax;
          -webkti-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
          -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
          -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
          -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
          transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
        }
        .post-module .post-content .category {
          position: absolute;
          top: -34px;
          left: 0;
          background: var(--Maya);
          padding: 10px 15px;
          color: rgb(240,240,240);
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          font-family: var(--subhead); /* maya code */
        }
        .post-module .post-content .title {
          margin: 0;
          padding: 1.25vmin 0 .75vmax;
          color: #333333;
          font-size: 21px;
          font-weight: 700;
          font-family: var(--head); /* maya code */
        }
        .post-module .post-content .sub_title {
          margin: 0;
          padding: 0 0 20px;
          color: var(--darker);
          /*font-size: 20px;*/
          font-size: 16px; /* maya code */
          font-weight: 400;
          font-family: var(--subhead); /* maya code */            
        }
        .post-module .post-content .description {
          display: none;
          color: #555555;
          font-size: 14px;
          line-height: 1.8em;
          font-family: var(--body); /* maya code */
        }
        .post-module .post-content .post-meta {
          margin: 30px 0 0;
          color: #999999;
        }
        .post-module .post-content .post-meta .timestamp {
          margin: 0 16px 0 0;
        }
        .post-module .post-content .post-meta a {
          color: #999999;
          text-decoration: none;
        }
        .hover .post-content .description {
          display: block !important;
          height: auto !important;
          opacity: 1 !important;
        }
        .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          /*border: 1px solid red; /* debug */
          
        }
        .container:before,
        .container:after {
          content: '';
          display: block;
          clear: both;
        }
        .container .column {
          width: 90%;
          margin-top: .25vmax;
          -webkti-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          float: left;

        }
        .container .column .demo-title {
          margin: 0 0 15px;
          color: #666666;
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
        }
        .container .info {
          width: 300px;
          margin: 50px auto;
          text-align: center;
        }
        .container .info h1 {
          margin: 0 0 15px;
          padding: 0;
          font-size: 24px;
          font-weight: bold;
          color: #333333;
        }
        .container .info span {
          color: #666666;
          font-size: 12px;
        }
        .container .info span a {
          color: #000000;
          text-decoration: none;
        }
        .container .info span .fa {
          color: var(--Maya);
        }
      .news-article-link-mobile {
        text-decoration: none;
      }            
      .news-article-link-mobile .title:hover {
        color: var(--darker);
        transition: .15s;
        text-decoration: underline;
      }

      .article-news-cards-container {    /* maya code */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*border: 1px solid red; /* debug */
    }